﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home.Master" AutoEventWireup="true" CodeBehind="CambiosDevoluciones.aspx.cs" Inherits="CapaPresentacion.CambiosDevoluciones" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Formulario de arrepentimiento</h1>
        
         <div class="form-group">
        <asp:Label ID="lblNombre" runat="server" Text="Nombre"></asp:Label>
             <asp:TextBox ID="txtNombre" runat="server" CssClass="form-control" Width="200px"></asp:TextBox> 
             <asp:Label ID="lblApellido" runat="server" Text="Apellido"></asp:Label>          
             <asp:TextBox ID="txtApellido" runat="server" CssClass="form-control" Width="200px"></asp:TextBox> 
        <asp:Label ID="lblEmail" runat="server" Text="Email"></asp:Label>
             <asp:Image ID="Image1" runat="server" Height="301px" ImageUrl="~/img/lermanszlak.com-cancellation-button-cancellation-button.png" Width="330px" style="float:right; margin-top:-80px" />
        <asp:TextBox ID="txtEmail" runat="server" CssClass="form-control" Width="200px"></asp:TextBox>
        <asp:Label ID="lblTelefono" runat="server" Text="Telefono"></asp:Label>          
             <asp:TextBox ID="txtTelefono" runat="server" CssClass="form-control" Width="200px"></asp:TextBox>
             <asp:Label ID="lblPedido" runat="server" Text="Nro de Pedido"></asp:Label>          
             <asp:TextBox ID="txtPedido" runat="server" CssClass="form-control" Width="200px"></asp:TextBox>
             <asp:Label ID="LlbMotivo" runat="server" Text="Motivo"></asp:Label>
             <asp:DropDownList ID="DropDownList1" runat="server" CssClass="form-control" Width="200px" Height="40px">
                 <asp:ListItem>Devolucion</asp:ListItem>
                 <asp:ListItem>Cambio</asp:ListItem>
             </asp:DropDownList>
             <br />
             <asp:Label ID="lblMensaje" runat="server" Text="Mensaje"></asp:Label>
             <asp:TextBox ID="txtMensaje" runat="server" CssClass="form-control" Width="568px" Height="220px"></asp:TextBox>
             <br />
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <asp:Button ID="btnEnviar" runat="server" Text="Enviar" Height="50px" Width="100px" BackColor="Teal" ForeColor="White" BorderStyle="None" OnClick="btnEnviar_Click"/>
             <br />
              <br />
                <asp:Label ID="lblOk" CssClass="alert-success" runat="server"></asp:Label>
            <br />
             </div>
               
              
    

</asp:Content>
