﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home.Master" AutoEventWireup="true" CodeBehind="ComoComprar.aspx.cs" Inherits="CapaPresentacion.ComoComprar" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>¿Cómo puedo realizar una compra?</h1>
    <p>&nbsp;</p>
        
         <div class="form-group">
        <asp:Label ID="lbl1" runat="server" Text="Para realizar una compra, deberas previamente registrarte en el sistema. Luego podrás añadir productos a la lista de deseos, pagarlos y recibirlos en la direccion que quieras"></asp:Label>
             .<br />
             <br />
             ¿Seguis necesitando ayuda? Contactanos:<br />
             <br />
             Telefono: 11-1234-5678<br />
             Horarios de atencion: Lunes a Sabados de 9:00 a 19:00<br />
    </div>


</asp:Content>
