﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home.Master" AutoEventWireup="true" CodeBehind="Contacto.aspx.cs" Inherits="CapaPresentacion.Contacto" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
    .footer {
        margin-left: 160px;
    }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Contacto</h1>

         <div class="form-group">
        <asp:Label ID="lblNombre" runat="server" Text="Nombre"></asp:Label>
             <asp:TextBox ID="txtNombre" runat="server" CssClass="form-control" Width="200px"></asp:TextBox> 
             <asp:Label ID="lblApellido" runat="server" Text="Apellido"></asp:Label>          
             <asp:TextBox ID="txtApellido" runat="server" CssClass="form-control" Width="200px"></asp:TextBox> 
        <asp:Label ID="lblEmail" runat="server" Text="Email"></asp:Label>
       
        <asp:TextBox ID="txtEmail" runat="server" CssClass="form-control" Width="400px"></asp:TextBox>

        <asp:Label ID="lblMensaje" runat="server" Text="Mensaje"></asp:Label>
   
        <asp:TextBox ID="TextBox1" runat="server" CssClass="form-control" Width="400px" Height="200px"></asp:TextBox>
              
              
             <asp:Button ID="btnEnviar" runat="server" Text="Enviar" Height="50px" Width="100px" BackColor="Teal" ForeColor="White" BorderStyle="None"/>
              <asp:Image ID="Image1" runat="server" Height="301px" ImageUrl="~/img/soporte.png" Width="370px" Style="float:right; margin-right:10px; margin-top:-300px"/>
             <br />
    </div>
    </asp:Content>
