﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home.Master" AutoEventWireup="true" CodeBehind="FormasPago.aspx.cs" Inherits="CapaPresentacion.FormasPago" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>¿Cómo puedo pagar?</h1>
<p>&nbsp;</p>
        
         <div class="form-group">
        <asp:Label ID="lbl1" runat="server" Text="1. Tarjetas de credito"></asp:Label>
             <br />
        <asp:Label ID="lbl2" runat="server" Text="2. Tarjetas de debito"></asp:Label>
             <br />
        <asp:Label ID="lbl3" runat="server" Text="3. Mercado Pago (Tarjetas de credito y debito, dinero en cuenta y pago en efectivo)"></asp:Label>
             <br />
        <asp:Label ID="lbl4" runat="server" Text="4. Mercado credito"></asp:Label>
             <br />
             <br />
             <br />
        <asp:Label ID="lbl5" runat="server" Text="El sistema de cobranza a través de tarjeta de crédito es 100% seguro. Los números son encriptados y no sufren ningún tipo de amenaza en nuestro banco de datos, siendo enviados directamente a la administradora de la tarjeta de crédito."></asp:Label>
             
    </div>

</asp:Content>
