﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home.Master" AutoEventWireup="true" CodeBehind="Tiendas.aspx.cs" Inherits="CapaPresentacion.Tiendas" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Tiendas</h1>
    <br />
<div class="form-group">
        <asp:Label ID="lblTienda1" runat="server" Text="Unicenter" Font-Bold="True" Font-Size="Small"></asp:Label>
    <br />
    <asp:Label ID="Label3" runat="server" Text="3745 Paraná, San Isidro, Buenos Aires" Font-Bold="False" Font-Size="Smaller"></asp:Label>
             <br />
            <br />
        <asp:Label ID="Label1" runat="server" Text="Alto Palermo" Font-Bold="True" Font-Size="Small"></asp:Label>
     <br />
    <asp:Label ID="Label6" runat="server" Text="3253 Avenida Santa Fe, Ciudad Autonoma de Buenos Aires" Font-Bold="False" Font-Size="Smaller"></asp:Label>
    <asp:Image ID="Image1" runat="server" Height="473px" ImageUrl="~/img/pngtree-shop-png-image_1699051.jpg" Width="489px" ImageAlign="Right" Style="float:right; margin-right:10px; margin-top:-300px" />

             <br />
    <br />
        <asp:Label ID="Label2" runat="server" Text="Alto Avellaneda" Font-Bold="True" Font-Size="Small"></asp:Label>
     <br />
    <asp:Label ID="Label5" runat="server" Text="897 General Guemes, Avellaneda, Buenos Aires" Font-Bold="False" Font-Size="Smaller"></asp:Label>

        <br />
        <br />
    

</asp:Content>
